

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	{{title}}: how to play
</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://thetravelers.online" />
<meta property="og:image" content="/imgs/logo2.png" />
<meta property="og:description" content="how to play" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:image" content="/imgs/logo2.png" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="how to play" />
<link rel="stylesheet" href="./resources_v114/__travelers.css" />
<link rel="stylesheet" href="./resources_v114/_otherpages.css" />
    <style>
        div.content-dip {
            width: calc(100% - 90px);
            max-width: 650px;
        }

        img.inline-img {
            max-width: calc(100% - 4px);
            margin: 10px auto 50px;
            border: 2px solid black;
            display: block;
        }

        #toc {
            border: 2px solid black;
            width: calc(100% - 24px);
            margin: 0 20px 20px;
            max-width: 300px;
            background-color: rgba(0,0,0,0);
            padding: 1px 0 5px;
        }

        a.mini-header {
            display:block;
            color:black;
            text-decoration:none;
            font-size:20px;
            font-weight:bold;
            margin:20px 0 0;
            cursor:initial;
        }

        #toc > p {
            margin: 5px 10px;
            background-color: rgba(0,0,0,0);
        }

        #toc a {
            color:#0089ff;
        }

        span.header-toplink {
            display: block;
            font-size: 12px;
            text-decoration: underline;
            color: #0089ff;
            margin: 0 0 10px;
            cursor:pointer;
        }

        @media only screen and (max-width:700px) {
            div.content-dip {
                width: calc(100% - 10px);
            }
        }
    </style>
</head>
<body>
    <form method="post" action="./howtoplay" id="form1">
        <div class="other-siteback"></div>

        <div class="header">
            <h2 class="banner-title"><a class="title-link" href='./'>{{title}}</a></h2>&nbsp;
            <h3 class="game-subtitle">how to play</h3>
        </div><!--

    ---><div class="content-dip"><!--
        ---><div class="content-box"><!--
            ---><h3 class="post-title">a text-based adventure mmo</h3><!--
            ---><p class="post-body" style="margin-bottom: 5px;padding-bottom: 0;">table of contents:</p><!--
            ---><div id="toc"></div><!--
            ---><p class="post-body">
					{{{getHowToPlay}}}
                </p>
            </div>
            <div class='post-spacer'></div>
        </div>

        <script>
            (function () {
                let a = document.getElementsByClassName("mini-header"), c = "";
                for (let i = 0; i < a.length; i++) {
                    c += "<p>" + (i + 1) + ") <a href='#" + a[i].name + "'>" + a[i].innerHTML + "</a></p>";
                    a[i].outerHTML += "<span class='header-toplink' onclick='document.documentElement.scrollTop = 0'>scroll to top</span>";
                }
                document.getElementById("toc").innerHTML = c;
            })();
        </script>
    </form>
</body>
</html>