

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	{{title}}: leaderboard
</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://thetravelers.online" />
<meta property="og:image" content="/imgs/logo2.png" />
<meta property="og:description" content="leaderboard" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:image" content="/imgs/logo2.png" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="leaderboard" />
<link rel="stylesheet" href="./resources_v114/__travelers.css" />
<link rel="stylesheet" href="./resources_v114/_otherpages.css" />
    <style>
        div.content-dip {
            max-width:550px;
        }

        div.leaderboard-select {
            background-color: rgba(0,0,0,0.05);
            display: inline-block;
            width: calc(25% - 30px);
            padding: 10px;
            text-align: center;
            border: 1px solid gray;
            vertical-align: top;
            height: 37px;
            margin: 0 2px 20px;
            cursor: pointer;
            border-radius: 4px;
        }
        
        span.lb-list-unit {
            font-size:14px;
        }

        @media only screen and (max-width:700px) {
            div.leaderboard-select {
                font-size:12px;
                height: 28px;
                padding: 10px 4px;
                width: calc(25% - 18px);
            }
        }
    </style>
</head>
<body>
    <form method="post" action="./leaderboard" id="form1">
        <div class="other-siteback"></div>

        <div class="header">
            <h2 class="banner-title"><a class="title-link" href='./'>{{title}}</a></h2>&nbsp;
            <h3 class="game-subtitle">leaderboard</h3>
        </div>

        <div class="content-dip">
            <div class="content-box">
                <h3 class="post-title">leaderboard</h3>
                <p class="post-body">select a leaderboard below to view the top players in that category. these lists update every two minutes.</p><!--

            <div id="lbs-XP" class="leaderboard-select unselectable" onclick="ShowLeaderboard(0);" style="background-color:rgba(0,0,0,0.25);margin-left:10px;">experience</div>
            <div id="lbs-Steps" class="leaderboard-select unselectable" onclick="ShowLeaderboard(2);">distance traveled</div>
            <div id="lbs-Seconds" class="leaderboard-select unselectable" onclick="ShowLeaderboard(1);">hours played</div>
            <div id="lbs-Locs" class="leaderboard-select unselectable" onclick="ShowLeaderboard(3);">locations explored</div>

            <div style="text-align:center;background-color:rgba(0,0,0,0);">
                    <div id="leaders_XP" style="display:inline-block;text-align:left;background-color:rgba(0,0,0,0);min-width: 70%;"></div>
                    <div id="leaders_Seconds" style="display:none;text-align:left;background-color:rgba(0,0,0,0);min-width: 70%;"></div>
                    <div id="leaders_Steps" style="display:none;text-align:left;background-color:rgba(0,0,0,0);min-width: 70%;"></div>
                    <div id="leaders_Locs" style="display:none;text-align:left;background-color:rgba(0,0,0,0);min-width: 70%;"></div>
                </div>
            </div> -->
			<!-- this stuff is commented out because we don't need it
            <div class="content-box" style="margin-top:25px;">
                <h3 class="post-title">puzzle winners</h3>
                <p class="post-body">below is a list of the first ten players to beat the game.</p>
                <div style="text-align:center;background-color:rgba(0,0,0,0);">
                    <div id="puzzlevictors" style="display:inline-block;text-align:left;background-color:rgba(0,0,0,0);min-width:70%;"><p class='lboard-wide clearback'>1)</p><span class='lboard-main'><b>LightningWB</b></span><br /><span class='lboard-sub'>Thursday, April 22, 2021</span><br /><span class='lboard-sub'>at 6728.2 hours played</span><br /><br /><p class='lboard-wide clearback'>2)</p><span class='lboard-main'><b>Bramblery</b></span><br /><span class='lboard-sub'>Thursday, April 22, 2021</span><br /><span class='lboard-sub'>at 6422.9 hours played</span><br /><br /><p class='lboard-wide clearback'>3)</p><span class='lboard-main'><b>alekaetor</b></span><br /><span class='lboard-sub'>Sunday, April 25, 2021</span><br /><span class='lboard-sub'>at 5643.8 hours played</span><br /><br /><p class='lboard-wide clearback'>4)</p><span class='lboard-main'><b>Slime_tiger</b></span><br /><span class='lboard-sub'>Tuesday, April 27, 2021</span><br /><span class='lboard-sub'>at 6827.4 hours played</span><br /><br /><p class='lboard-wide clearback'>5)</p><span class='lboard-main'><b>cohnon</b></span><br /><span class='lboard-sub'>Tuesday, April 27, 2021</span><br /><span class='lboard-sub'>at 3223.7 hours played</span><br /><br /><p class='lboard-wide clearback'>6)</p><span class='lboard-main'><b>SuperQGS</b></span><br /><span class='lboard-sub'>Sunday, May 2, 2021</span><br /><span class='lboard-sub'>at 2706.3 hours played</span><br /><br /><p class='lboard-wide clearback'>7)</p><span class='lboard-main'><b>Meepcom</b></span><br /><span class='lboard-sub'>Sunday, May 2, 2021</span><br /><span class='lboard-sub'>at 6691.2 hours played</span><br /><br /><p class='lboard-wide clearback'>8)</p><span class='lboard-main'><b>KingGlac</b></span><br /><span class='lboard-sub'>Tuesday, May 4, 2021</span><br /><span class='lboard-sub'>at 1438.2 hours played</span><br /><br /><p class='lboard-wide clearback'>9)</p><span class='lboard-main'><b>LogicM</b></span><br /><span class='lboard-sub'>Saturday, May 8, 2021</span><br /><span class='lboard-sub'>at 5930.5 hours played</span><br /><br /><p class='lboard-wide clearback'>10)</p><span class='lboard-main'><b>hentai</b></span><br /><span class='lboard-sub'>Monday, May 17, 2021</span><br /><span class='lboard-sub'>at 1446.1 hours played</span><br /><br /></div>
                </div>
            </div>
            <div class="content-box" style="margin-top:25px;">
                <h3 class="post-title">pre-release leaderboard</h3>
                <p class="post-body">below are the top ten players leading by xp from before the game officially released. special thanks to these players for helping to make the game great.</p>
                <div style="text-align:center;background-color:rgba(0,0,0,0);">
                    <div id="preleaders" style="display:inline-block;text-align:left;background-color:rgba(0,0,0,0);min-width: 70%;">
                        <p class="lboard-wide clearback">1)</p><span class="lboard-main"><b>pfg</b>: level 231</span><br /><span class="lboard-sub">18704177 total xp</span><br /><br />
                        <p class="lboard-wide clearback">2)</p><span class="lboard-main"><b>LogicM</b>: level 151</span><br /><span class="lboard-sub">5733816 total xp</span><br /><br />
                        <p class="lboard-wide clearback">3)</p><span class="lboard-main"><b>toragadude</b>: level 133</span><br /><span class="lboard-sub">4050163 total xp</span><br /><br />
                        <p class="lboard-wide clearback">4)</p><span class="lboard-main"><b>man</b>: level 132</span><br /><span class="lboard-sub">3934729 total xp</span><br /><br />
                        <p class="lboard-wide clearback">5)</p><span class="lboard-main"><b>pepsilord420</b>: level 123</span><br /><span class="lboard-sub">3272842 total xp</span><br /><br />
                        <p class="lboard-wide clearback">6)</p><span class="lboard-main"><b>Jeevan</b>: level 117</span><br /><span class="lboard-sub">2823604 total xp</span><br /><br />
                        <p class="lboard-wide clearback">7)</p><span class="lboard-main"><b>t3hmadhatter</b>: level 114</span><br /><span class="lboard-sub">2640530 total xp</span><br /><br />
                        <p class="lboard-wide clearback">8)</p><span class="lboard-main"><b>Super3</b>: level 101</span><br /><span class="lboard-sub">1871080 total xp</span><br /><br />
                        <p class="lboard-wide clearback">9)</p><span class="lboard-main"><b>bramblery</b>: level 101</span><br /><span class="lboard-sub">1857802 total xp</span><br /><br />
                        <p class="lboard-wide clearback">10)</p><span class="lboard-main"><b>cool</b>: level 86</span><br /><span class="lboard-sub">1218435 total xp</span><br /><br />
                    </div>
                </div>
            </div>-->
        </div>
		<input id="lb_data" type="hidden" value='{{{getLeaders}}}'>

		<script>
			const data = JSON.parse(document.getElementById('lb_data').value);
			const compiled = {};
			const translators = {{{getTranslators}}};
			for(const type in translators) {
				for(const funcId in translators[type]) {
					translators[type][funcId] = eval('(' + translators[type][funcId] + ')');
				}
			}
			const ELEMS = {
				span: (text, classList = '', escape = false) => {
					const e = document.createElement('span');
					if(escape) {
						e.innerText = text;
					} else {
						e.innerHTML = text;
					}
					if(classList) {
						e.className = classList;
					}
					return e;
				},
				div: (text, classList = '', escape = false) => {
					const e = document.createElement('div');
					if(escape) {
						e.innerText = text;
					} else {
						e.innerHTML = text;
					}
					if(classList) {
						e.className = classList;
					}
					return e;
				},
				p: (text, classList = '', escape = false) => {
					const e = document.createElement('p');
					if(escape) {
						e.innerText = text;
					} else {
						e.innerHTML = text;
					}
					if(classList) {
						e.className = classList;
					}
					return e;
				},
				b: (text, classList = '', escape = false) => {
					const e = document.createElement('b');
					if(escape) {
						e.innerText = text;
					} else {
						e.innerHTML = text;
					}
					if(classList) {
						e.className = classList;
					}
					return e;
				},
				br: () => document.createElement('br'),
				user: (name, rank, firstText = '', subText = '', is_you = false) => {
					const container = ELEMS.span('');
					container.appendChild(ELEMS.p((is_you ? '<b>' : '' ) + rank + ')' + (is_you ? '</b>' : ''), 'lboard-wide clearback'));
					const containerSpan = ELEMS.span('');
						containerSpan.className = 'lboard-main';
						containerSpan.appendChild(ELEMS.b(name + (is_you ? ' (you)' : '')));
						if(firstText) {
							firstText = firstText.replace(/\`(.*?)\`/g, s => s.replace('`', '<span class="lb-list-unit">').replace('`', '</span>'));
							containerSpan.insertAdjacentText('beforeend', ': ');
							containerSpan.insertAdjacentHTML('beforeend', firstText);
							containerSpan.appendChild(ELEMS.br());
						}
						container.appendChild(containerSpan)
					if(subText) {
						container.appendChild(ELEMS.span(subText, 'lboard-sub', true));
						container.appendChild(ELEMS.br());
					}
					container.appendChild(ELEMS.br());
					return container;
				},
				btn: (name) => {
					const e = ELEMS.div(name, 'leaderboard-select unselectable');
					e.id = 'btn_' + name;
					e.onclick = () => selectBoard(name);
					return e;
				},
				removeElem: (elem) => {
					elem.parentElement.removeChild(elem);
				}
			}
			const root = document.createElement('div');
			root.style = 'text-align:center;background-color:rgba(0,0,0,0);';
			const btns = [];
			for(const boardName in data) {
				try {
					const board = data[boardName];
					btns.push(ELEMS.btn(boardName));
					const container = ELEMS.div('');
					container.id = 'lb_' + boardName;
					container.style = 'display:inline-block;text-align:left;background-color:rgba(0,0,0,0);min-width: 70%;';
					for(let i = 0; i < board.length; i++) {
						const member = board[i];
						const activeTranslator = translators[boardName];
						let primary = '', caption;
						primary = activeTranslator.primary(member);
						if(activeTranslator.caption) {
							caption = activeTranslator.caption(member);
						}
						container.appendChild(ELEMS.user(member.username, member.rank, primary, caption, member.is_you));
					}
					root.appendChild(container);
				} catch(err) {
					console.error(err);// avoid one bad board crashing it all
				}
			}
			const target = document.querySelector("#form1 > div.content-dip > div.content-box");
			for(const btn of btns) {
				target.appendChild(btn);
			}
			btns[0].style.marginLeft = '10px';
			target.appendChild(root);
			target.insertAdjacentHTML('beforeend', '<div class=\'post-spacer\'></div>');
			function selectBoard(name) {
				for(const child of root.children) {
					child.style.display = 'none';
				}
				for(const btn of btns) {
					btn.style.backgroundColor = '';
				}
				document.getElementById('lb_' + name).style.display = 'inline-block';
				document.getElementById('btn_' + name).style.backgroundColor = 'rgba(0,0,0,0.25)';
			}
			selectBoard(Object.keys(data)[0]);
		</script>
    </form>
</body>
</html>